body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?cs=srgb&dl=pexels-content-pixie-2736499.jpg&fm=jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 20px auto;
  background-color: /*rgba(228, 226, 218, 0.8)*/ rgba(178,176,169,0.8)/**/
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

.right-section {
  flex: 1;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

.tasks-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.task-description {
  color: #777;
  font-style: italic;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  margin-right: 20px;
  padding: 8px ;
  padding-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

